* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --strap: 0%;

}

body {
    background-color: rgb(6, 54, 8);
}


div.wraper {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 5vh;
    color: #4CAF50;
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    height: 70vh;
    justify-content: center;
    margin: 0 auto;
    
}

main {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
}

section.clue,
section.letters,
section.button {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

section.clue {
    height: 30%;
}

section.letters {
    align-self: center;
    display: flex;
    justify-content: center;
    height: 50%;
    width: 80%;
}

section.button {
    height: 20%;
}

div.cluediv,
div.letterdiv,
div.clicked {
    font-size: 3vh;
    border: 2px solid #4CAF50;
    margin-left: 1%;
    margin-bottom: 1%;
    width: 8vh;
    height: 8vh;
    line-height: 8vh;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10%;
    cursor: pointer;
}

div.cluediv {
    cursor: default;
}

div.letterdiv:hover {
    background-color: #4CAF50;
    color: white;

}

div.clicked {
    border: 2px solid grey;
    color: white;
    background-color: grey;
    cursor: default;
}



section.button button {

    background-color: transparent;
    font-weight: bold;
    border: 2px solid #4CAF50;
    color: #4CAF50;
    padding: 1% 2%;
    text-align: center;
    text-decoration: none;
    font-size: 3vh;
    cursor: pointer;
}

section.button button:hover {
    color: white;
    background-color: #4CAF50;

}


section.bar {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.barcontainer {
    border: 2px solid #4CAF50;
    width: 60%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.barprogress {
    width: 100%;
    background-color: #4CAF50;
    height: var(--strap);
}


@media screen and (max-width:1024px){

    div.cluediv,
    div.letterdiv,
    div.clicked{
        font-size: 2.5vh;
        width: 6.5vh;
        height: 6.5vh;
        line-height: 6.5vh;
    }

}


@media screen and (max-width:620px){

    div.cluediv,
    div.letterdiv,
    div.clicked{
        font-size: 2vh;
        width: 5.5vh;
        height: 5.5vh;
        line-height: 5.5vh;
    }

    section.button button {
        font-size: 2vh;
 
    }
}

@media screen and (max-width:400px){

    div.cluediv,
    div.letterdiv,
    div.clicked{
        font-size: 1.7vh;
        width: 4.5vh;
        height: 4.5vh;
        line-height: 4.5vh;
    }

}